<!--
Author: Emily Stockenbojer
Date: 3/4/18
Description: Website main layout
-->

<!DOCTYPE html>
<!-- all photographs that appear on this website are licensed with the Creative Commons CC0 license
photos were retreived from https://www.foodiesfeed.com https://www.pexels.com/ and https://stocksnap.io/-->
<!-- background patterns were obtained from https://www.toptal.com/designers/subtlepatterns/ and are under a Creative Commons Attribution-ShareAlike 3.0 license
attribution is included in bottom corner of homepage-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" type="text/css">
    <!-- stylesheet from https://fonts.google.com -->
    <link href="https://fonts.googleapis.com/css?family=Parisienne" rel="stylesheet">

    <title>Bontà Del Forno: Fine Italian Cuisine</title>
  </head>
  <body>
    <div id = "header">
    <img src="images/header.png" alt="Header">

    </div>
    <div class="navigation">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/menu">Menu</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </div>
  {{{body}}}
  <br />
  <br />
  <div class="foot">
    <a href="https://twitter.com" target="_blank"><img class="centered" src="images/Twitter_Social_Icon_Rounded_Square_White.png"></a>
    <a href="https://facebook.com" target="_blank"><img class ="centered" src="images/FB-f-Logo__white_29.png"></a>
    <a href="https://yelp.com" target="_blank"><img class ="centered" src="images/Yelp_burst_negative_RGB.png"></a>
    <div class="attribution" style="float: right;">
    <br />
    <br />
    <a href="https://www.toptal.com/designers/subtlepatterns/">Patterns by Subtle Patterns</a>
    </div>
  </div>

  <!-- necessary scripts for the bootstrap API to work -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
